[submodule "semantic_navigation_ws/src/knowledge_graph"]
	path = semantic_navigation_ws/src/knowledge_graph
	url = git@github.com:mgonzs13/knowledge_graph.git

[submodule "semantic_navigation_ws/src/aws-robomaker-small-house-world"]
	path = semantic_navigation_ws/src/aws-robomaker-small-house-world
	url = git@github.com:aws-robotics/aws-robomaker-small-house-world.git
